global:
  resolve_timeout: 5m
  smtp_smarthost: email-smtp.us-west-2.amazonaws.com:587
  smtp_from: support@chainsecurity.asia
  smtp_auth_username: AKIAS7ZPBOAL3NP6M47X
  smtp_auth_identity: support@chainsecurity.asia
  smtp_auth_password: BJE4alkKMjQeebGhz4RQlXOlGofZfPiygmlIlvRM3Tco

route:
  group_by: ['alertname', 'severity']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 3h
  receiver: 'default'

receivers:
- name: 'default'
  email_configs:
  - to: 'patrickwu8894@gmail.com'
    send_resolved: true