groups:
  - name: high_disk_usage
    rules:
      - alert: HighDiskUsage
        expr: 100 - (node_filesystem_free_bytes / node_filesystem_size_bytes * 100) > 30
        for: 0m
        labels:
          severity: warning
        annotations:
          summary: "High disk usage detected"
          description: "Disk usage is > 10%\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"